{
  "type": "micro",
  "wake_word": "mariano",
  "author": "WayneHomeLab",
  "website": "https://github.com/miguel/WayneHomeLab",
  "model": "mariano.tflite",
  "trained_languages": ["es"],
  "version": 2,
  "micro": {
    "probability_cutoff": 0.85,
    "sliding_window_size": 5,
    "feature_step_size": 10,
    "tensor_arena_size": 22860,
    "minimum_esphome_version": "2024.7"
  }
}
